.navbar {
  background-image: url("./assets/batman.jpeg");

  background-size: cover;
  background-position: center 670px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 40px #ff1414;
}

@media (max-width:768px) {
  .navbar {
    background-position: center 450px;
   }
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.388);
  z-index: 1;
}

.navbar-text {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 45px;
  color: white;
  z-index: 3;
}

.navbar-textsecond {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  color: white;
  z-index: 3;
}

.logo:hover {
  transform: scale(1.1);
}
.logo {
  transition: transform 0.3s ease;
}
